<head>
    <script src="http://fb.me/react-0.10.0.js"></script>
    <script src="http://fb.me/JSXTransformer-0.10.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="lodash.min.js"></script>
    <link rel="stylesheet" href="../main.css"/>
</head>
<body>
  <div class="wrapper">
    <h2> Milestone 26 </h2>
    <div id="app"></div>
    <div class="gh-issues" data-repo="mozilla-appmaker/appmaker" data-milestone="26" data-state="all"></div>

    <script type="text/jsx" src="./milestone.js"></script>
  </div>
</body>
